
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0rem 1rem;
}
.container div{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ion-avatar {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
}
button {
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  color: rgb(15, 255, 235);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}