<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar slot="end">
        <img src="./avatar.svg" />
      </ion-avatar>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <h1>Movies</h1>
  </ion-header>
  <ion-list>
    <ion-card *ngFor="let movie of movies">
      <img src="./madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>{{movie.year}}</ion-card-subtitle>
        <ion-card-title>{{movie.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{movie.actors}}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>