<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-avatar>
            <img src="https://viajes.nationalgeographic.com.es/medio/2019/03/29/torre-eiffel-hoy_f7a97d88_1200x1821.jpg" />
          </ion-avatar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card>
          <ion-input type="text" placeholder="Email" #email required></ion-input>
          <button  (click)="onResetPassword(email)" ngClass="googleButton">
            Resquest a password reset
          </button>
      </ion-card>
    </ion-row>
    <ion-row ngClass="footer-row">
      <ion-col>
        <a href="/register">
          <button ngClass="footerButton">
            Create account
          </button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>