ion-title {
  color: rgb(15, 255, 235);
}
ion-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 4px;
}
ion-input {
  margin-bottom: .5rem;
  border-radius: 25px;
  text-align: center;
  border: 1px solid rgb(15, 255, 235);
}
ion-card {
  padding: 1rem;
}
button {
  width: 100%;
  border-radius: 100px;
  color: #000;
  padding: 10px;
  margin-top: 1rem;
  background-color: rgb(15, 255, 235);
}
.footerButton{
  color: #000;
  background-color: rgb(15, 255, 235);
}
.footer-row {
  width: 100%;
}
ion-avatar {
  border: 2px solid rgb(15, 255, 235);
}